@use 'colors' as *;

:host {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  padding: 2rem;
  width: 50vw;
  background-color: $background-2;

  h2 {
    font-weight: 400;
    font-size: 1em;
    margin-top: 0;
  }

  input[type=file] { display: none; }

  .user-list {
    margin: 0;
    padding: 0;

    .user {
      display: flex;
      align-items: center;
      list-style-type: none;
      background-color: $background;
      margin-bottom: 1rem;
      padding: 1rem;

      &:hover {
        background-color: $background-3;
      }
      
      &:last-child {
        margin-bottom: 0;
      }

      .user-image,
      .user-initials {
        width: 5rem;
        height: 5rem;
        border-radius: 50rem;
      }

      .user-image {
        object-fit: cover;
        object-position: center;
      }

      .user-initials {
        background-color: $highlight;
        color: $font-2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        font-weight: 600;
      }

      .user-name {
        flex-grow: 1;
        font-size: 1em;
        font-weight: 400;
        padding-left: 1rem;
        margin: 0;
      }

      .img-upload {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;

        &:hover {
          fa-icon::ng-deep svg path {
            color: $fonte;
          }
        }

        fa-icon::ng-deep svg path {
          color: $font-2;
        }
      }
    }
  }
}
